<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header>
    <div class="container1">
        <a class="h1" href="/">ARCI.IO</a>
    </div>
    <div class="container2">
        <a href="/" class="sub1">
            Home
        </a>
        <a href="/work" class="sub2">
            Work
        </a>
        <a href="/about" class="sub3">
            About Me
        </a>
    </div>
</header>