/* line 1, E:/Development/Arci.io/_sass/arci/_reset.scss */
html * {
  text-size-adjust: none;
}

/* line 2, E:/Development/Arci.io/_sass/arci/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 91, E:/Development/Arci.io/_sass/arci/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 104, E:/Development/Arci.io/_sass/arci/_reset.scss */
body {
  line-height: 1;
  margin: 0;
}

/* line 108, E:/Development/Arci.io/_sass/arci/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 112, E:/Development/Arci.io/_sass/arci/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 116, E:/Development/Arci.io/_sass/arci/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* line 123, E:/Development/Arci.io/_sass/arci/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 127, E:/Development/Arci.io/_sass/arci/_reset.scss */
img {
  width: 100%;
  overflow: hidden;
}

/* line 131, E:/Development/Arci.io/_sass/arci/_reset.scss */
a {
  text-decoration: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 137, E:/Development/Arci.io/_sass/arci/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 5, E:/Development/Arci.io/_sass/arci/_fonts.scss */
.h1, h1 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.44;
}

/* line 12, E:/Development/Arci.io/_sass/arci/_fonts.scss */
.h2 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.44;
}

/* line 19, E:/Development/Arci.io/_sass/arci/_fonts.scss */
.h3 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
}

/* line 26, E:/Development/Arci.io/_sass/arci/_fonts.scss */
p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.44;
  letter-spacing: -0.5px;
}

/* line 34, E:/Development/Arci.io/_sass/arci/_fonts.scss */
a {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.44;
  transition: 125ms;
}

/* line 41, E:/Development/Arci.io/_sass/arci/_fonts.scss */
a:hover {
  color: #EC6302;
}

/* line 1, E:/Development/Arci.io/_sass/arci/_general.scss */
.margin-24 {
  margin-bottom: 24px;
}

/* line 4, E:/Development/Arci.io/_sass/arci/_general.scss */
.margin-64 {
  margin-bottom: 64px;
}

/* line 8, E:/Development/Arci.io/_sass/arci/_general.scss */
a.button {
  margin: 16px auto;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  background-color: #EC6302;
  padding: 14px 24px;
  height: 48px;
}

/* line 16, E:/Development/Arci.io/_sass/arci/_general.scss */
a.button:hover {
  background-color: #fff;
  color: #EC6302;
}

/* line 1, E:/Development/Arci.io/_sass/arci/_animations.scss */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* line 28, E:/Development/Arci.io/_sass/arci/_animations.scss */
.animatedFadeIn {
  opacity: 0;
}

/* line 32, E:/Development/Arci.io/_sass/arci/_animations.scss */
.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* line 60, E:/Development/Arci.io/_sass/arci/_animations.scss */
.animatedFadeInUp {
  opacity: 0;
}

/* line 64, E:/Development/Arci.io/_sass/arci/_animations.scss */
.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeInLeft {
  from {
    transform: translateX(40px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    transform: translateX(40px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* line 92, E:/Development/Arci.io/_sass/arci/_animations.scss */
.animatedFadeLeft {
  opacity: 0;
}

/* line 96, E:/Development/Arci.io/_sass/arci/_animations.scss */
.fadeInLeft {
  opacity: 0;
  animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    transform: translateX(-40px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    transform: translateX(-40px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* line 123, E:/Development/Arci.io/_sass/arci/_animations.scss */
.animatedFadeRight {
  opacity: 0;
}

/* line 127, E:/Development/Arci.io/_sass/arci/_animations.scss */
.fadeInRight {
  opacity: 0;
  animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
}

@keyframes textFade {
  from {
    font-size: 36px;
  }
  to {
    font-size: 48px;
    opacity: 0;
  }
}

@-webkit-keyframes textFade {
  from {
    font-size: 36px;
  }
  to {
    font-size: 48px;
    opacity: 0;
  }
}

/* line 154, E:/Development/Arci.io/_sass/arci/_animations.scss */
.animatedtextFade {
  opacity: 0;
}

/* line 158, E:/Development/Arci.io/_sass/arci/_animations.scss */
.textFade {
  opacity: 1;
  animation-name: textFade;
  -webkit-animation-name: textFade;
}

/* line 1, E:/Development/Arci.io/_sass/arci/_header.scss */
body {
  background-color: #1e1d1c;
  position: relative;
}

/* line 5, E:/Development/Arci.io/_sass/arci/_header.scss */
header {
  display: flex;
  padding: 12px 24px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}

/* line 13, E:/Development/Arci.io/_sass/arci/_header.scss */
header .container1 svg {
  width: 120px;
  margin-bottom: -6px;
}

/* line 18, E:/Development/Arci.io/_sass/arci/_header.scss */
header .container2 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

/* line 2, E:/Development/Arci.io/_sass/arci/_home.scss */
#homepage #section1 {
  padding: 64px 0;
  text-align: center;
}

/* line 6, E:/Development/Arci.io/_sass/arci/_home.scss */
#homepage #section1 .container2 a {
  cursor: pointer;
}

/* line 8, E:/Development/Arci.io/_sass/arci/_home.scss */
#homepage #section1 .container2 a svg {
  border: 2px solid #EC6302;
  border-radius: 50%;
  background-color: #fff;
  width: 200px;
  transition: 400ms;
}

/* line 16, E:/Development/Arci.io/_sass/arci/_home.scss */
#homepage #section1 .container2 a:hover svg {
  border: 2px solid #fff;
  background-color: #EC6302;
}

/* line 19, E:/Development/Arci.io/_sass/arci/_home.scss */
#homepage #section1 .container2 a:hover svg #path77--inject-1 {
  fill: #EC6302;
}

/* line 22, E:/Development/Arci.io/_sass/arci/_home.scss */
#homepage #section1 .container2 a:hover svg #path73--inject-1 {
  fill: #fff;
}

/* line 30, E:/Development/Arci.io/_sass/arci/_home.scss */
#homepage #section2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  border-top: 2px solid #EC6302;
  padding-top: 64px;
}

@media screen and (max-width: 768px) {
  /* line 39, E:/Development/Arci.io/_sass/arci/_home.scss */
  #homepage #section2 {
    flex-direction: column;
  }
  /* line 41, E:/Development/Arci.io/_sass/arci/_home.scss */
  #homepage #section2 .container1 {
    margin-bottom: 48px;
  }
}

/* line 1, E:/Development/Arci.io/_sass/arci/_work.scss */
#portfolio {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}

/* line 5, E:/Development/Arci.io/_sass/arci/_work.scss */
#portfolio .hover {
  position: relative;
  transition: 0;
  display: block;
  background-color: #EC6302;
}

/* line 10, E:/Development/Arci.io/_sass/arci/_work.scss */
#portfolio .hover .container1 {
  opacity: 1;
}

/* line 13, E:/Development/Arci.io/_sass/arci/_work.scss */
#portfolio .hover .container2 {
  position: absolute;
  top: 48%;
  width: 100%;
  display: none;
}

/* line 20, E:/Development/Arci.io/_sass/arci/_work.scss */
#portfolio .hover.hovered .container1 {
  opacity: 0;
  transition: 150ms;
}

/* line 24, E:/Development/Arci.io/_sass/arci/_work.scss */
#portfolio .hover.hovered .container2 {
  display: block;
  text-align: center;
}

/* line 30, E:/Development/Arci.io/_sass/arci/_work.scss */
#portfolio #zilliant {
  position: relative;
}

/* line 32, E:/Development/Arci.io/_sass/arci/_work.scss */
#portfolio #zilliant .container1 {
  position: static;
  padding-top: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background: url("../assets/imagery/zilliant-thumb.PNG");
}

/* line 41, E:/Development/Arci.io/_sass/arci/_work.scss */
#portfolio #mightyandtrue {
  position: relative;
}

/* line 43, E:/Development/Arci.io/_sass/arci/_work.scss */
#portfolio #mightyandtrue .container1 {
  position: static;
  padding-top: 39%;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("../assets/imagery/mightyandtrue.PNG");
}

/* line 52, E:/Development/Arci.io/_sass/arci/_work.scss */
#portfolio #hot-sauce {
  position: relative;
}

/* line 54, E:/Development/Arci.io/_sass/arci/_work.scss */
#portfolio #hot-sauce .container1 {
  position: static;
  padding-top: 63.9%;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("../assets/imagery/red.PNG");
}

/* line 1, E:/Development/Arci.io/_sass/arci/_footer.scss */
.transition {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 0;
  background-color: #EC6302;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 10, E:/Development/Arci.io/_sass/arci/_footer.scss */
.transition h1 {
  transform: translateX(-80px);
  color: #fff;
  text-align: center;
  opacity: 0;
}

/*# sourceMappingURL=arci.css.map */