$ss: sans-serif;
h1 {
    font-family:$ss;
    font-size:36px;
    line-height:40px;
}
h2 {
    font-family: $ss;
    font-size:28px;
    line-height:32px;
}
h3 {
    font-family: $ss;
    font-size:18px;
    line-height:22px;
}
p {
    font-family:$ss;
    font-size:16px;
    line-height:18px;
}