.transition {
    height:100vh;
    position: fixed;
    top:0;
    width:0;
    background-color:$orange;
    display:flex;
    align-items: center;
    justify-content: center;
    h1 {
        transform:translateX(-80px);
        color:#fff;
        text-align:center;
        opacity:0;
    }
}