#Zilliant,#NTT,#SMU {
    #section1 {
        margin:64px auto;
        padding:0 48px;
        max-width:992px;
        .container1 {
            .sub2 {
                display:flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
            }
        }
    }
    #section2,#section3,#section4 {
        max-width:992px;
        border-top:2px solid $orange;
        margin:64px auto;
        padding:0 48px;
        .container1 {
            max-width: 650px;
            margin: 48px auto;
            text-align: center;
        }
    }
}
#SMU,#NTT {
    #section1 {
        .container1 {
            .sub1 {
                p {
                    max-width:650px;
                    margin:0 auto;
                }
            }
        }
    }
    #section2 {
        text-align: center;
        .container2 {
            display:inline-flex;
            flex-direction: column;
            text-align: center;
        }
    }
}
#Zilliant {
    #section3 {
        .container2 {
            text-align: center;
            img {
                max-width:460px
            }
        }
    }
}
@media screen and (max-width:992px) {
    #Zilliant {
        #section1 {
            .container1 {
                .sub2 {
                    flex-direction: column;
                    p {
                        display:none;
                    }
                }

            }
        }
    }

}